FIREBASE_PROJECT_ID=the-bully-league
FIREBASE_CLIENT_EMAIL=your-service-account@the-bully-league.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
